h1{
    color: #2f4f4f;
    margin-bottom: 10px;
}

#page-title{
    font-family: sans-serif;
}

#main-nav{
   margin-top: 10px;
   list-style: none;
   padding-left: 0px;
}

#main-nav li{
    display: inline;
}

.title{
    font-family: monospace;
}

#main-nav li a {
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    background-color: #13a4a4; 
    padding: 5px;
    border-radius: 2px;
}

.featured{
    background-color: orange ;
}